.board-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: blanchedalmond;
  width: fit-content;
}

.tile-wrapper {
  border: 1px solid black;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile-wrapper div{
  font-family: monospace;
  font-size: 32px;
  font-weight: bold;
}