body {
  display: flex;
  background: #2e3635;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: monospace;
}

.board-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
}

.tile-wrapper {
  border: 1px solid black;
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #645E9D;
  transition: 0.1s ease-in-out;
  user-select: none;
}

.unlocked .tile-wrapper.free {
  cursor: pointer;
}

.unlocked .tile-wrapper.free:hover {
  background: #392B58;
}

.tile-wrapper div {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: cursive;
}

h2 > span {
  background: #228b22;
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: normal;
}
